@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 52, 45%, 94%;
  --background-muted: 230, 16%, 15%;
  --accent: 37, 51%, 84%;
  --secondary: 225, 27%, 51%;
  --highlight: 264, 46%, 65%;
  --foreground: 40, 8%, 7%;
  --input: 0, 0%, 100%;
}
